{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Susan Abong'o</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css' %}"> <!-- Global styles first -->
</head>


<body>

    {% if messages %}
        {% include "alert-messages.html" %}
    {% endif %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block homepage %}
        {% include 'home.html' %}
    {% endblock %}

    {% block aboutpage %}
        {% include 'about.html' %}
    {% endblock %}

    {% block portfolio %}
        {% include 'portfolio.html' %}
    {% endblock %}

    {% block testimonials %}
        {% include 'testimonials.html' %}
    {% endblock %}

    {% block contact %}
        {% include 'contact.html' %}
    {% endblock %}


</body>
</html>
