{% load static %}

    <nav class="nav">
        <div class="nav-content">
            <a href="index.html" class="logo">Susan Abong'o</a>
            <button class="hamburger">☰</button>
            <div class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'portfolio_list' %}">Portfolio</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'works' %}">My Works</a>
                <a href="{% url 'testimonials' %}">Testimonials</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'events_list' %}">Events</a>
            </div>
        </div>
    </nav>