{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/contact-email.css' %}">

</head>
<body>
    <div class="email-container">
        <div class="message-header">
            <h2>New Contact Form Message</h2>
            <p>You have received a new message from your website's contact form.</p>
        </div>

        <div class="message-content">
            <p><span class="label">From:</span> {{ name|capfirst }}</p>
            <p><span class="label">Email:</span> {{ email }}</p>
            <p><span class="label">Service:</span> {{ service|capfirst }}</p>
            
            <p><span class="label">Message:</span></p>
            <div class="message-box">{{ message|capfirst }}</div>
        </div>
    <hr>
        <div class="message-footer">
            <p>This email was sent from your website's contact form.</p>
        </div>
    </div>
</body>
</html>